<div class="row" id="content">

    <!--IMAGEVIEW-->
    <modal title="Image View" id="imageViewModal" ng-show="showModalImageView" style="overflow-y: scroll; height:85%;">

        <div>
            <button ng-click="toggleModalImageView()" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>&nbsp; &nbsp; {{title}}</h4>
            <!--img ng-src="{{path}}" class="img-responsive center-block img-thumbnail" alt="image"-->

            <img ng-src="{{getMediaUrl(path)}}" class="img-responsive center-block img-thumbnail" alt="image" ng-if="type === 'image'">

            <audio audioplayer controls ng-src="{{getMediaUrl(path)}}" ng-if="type === 'audio'">
            </audio>

            <video videoplayer controls ng-src="{{getMediaUrl(path)}}" ng-if="type === 'video'" width="100%" height="100%">
            </video>
        </div>

        <div class="row">
            <!--COMMENT DIV-->
            <div class="col-md-2 col-lg-2" id="commentdiv" style="overflow-y: scroll; height:300px;">
                <h4>Comments</h4>

                <div id="commentBubble" class="panel panel-default" ng-repeat="comment in comments">

                    <!--<div class="panel-body" id="commentbubble">-->
                    <p>&nbsp;<b>{{comment.username}}</b>&nbsp; &nbsp; <i>{{comment.time}}</i></p>
                    <p>&nbsp;{{comment.comment}}</p>
                    <!--</div>-->
                </div>
                <hr>
            </div>
        </div>

        <!--LEAVE A COMMENT-->
        <div class="col-md-3 col-sm-6" id="leavecomment">
            <!--LEAVEÂ COMMENT-->
            <form role="form" id="commentForm" enctype="application/x-www-form-urlencoded">
                <textarea class="form-control" rows="2" id="commentField" placeholder="Write your comment here" ng-model="cmt"></textarea>
                <button id="commentButton" type="button" class="btn btn-primary btn-sm" ng-click="addComment()">Comment</button>
                <button class="btn btn-warning" ng-click="toggleModalImageView()">Cancel</button>
            </form>
        </div>
    </modal>



    <!-- IMAGE FEED -->
    <div class="container-fluid">
        <div ng-repeat="file in files" id="content">

            <div class="row" ng-if="file.type === 'image' ">
                <div class="col-xs-12 col-md-6">

                    <h4><b> &nbsp; &nbsp; {{file.title}}</b></h4>

                    <!--img ng-src="{{getMediaUrl(file.path)}}" class="img-responsive center-block img-thumbnail" alt="image" ng-if="file.title === '{{search}}'" ng-srcset="http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.small }} 180w, 
					http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.medium }} 320w,
					http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.large }} 640w"-->



                    <!--                        <p>&nbsp; &nbsp; &nbsp;{{rating}}</p>-->
                    <!--                        <p>This is images url: {{ file.path }}</p>-->
                    <p>{{file.fileId}}</p>
                    
                    
                    <button class="btn btn-success" id={{file.fileId}} ng-click="likeFile(file.fileId)" ng-show="showLikeButton"><span class="fontawesome fontawesome-thumbs-up"></span></button>

<button class="btn btn-danger" id={{file.fileId}} ng-click="unlikeFile(file.fileId)" ng-show="showDislikeButton"><span class="fontawesome fontawesome-thumbs-down"></span></button>

<button class="btn btn-primary" ng-click="showCommentView(file.path,file.title,file.type,file.fileId)"><span class="fontawesome fontawesome-comment"></span>
</button>
                    

                    <div id="socialmedia" class="pull-right">
                        <!-- twitter -->
                        <a href="{{twitterlink}}" title="Share on Twitter" target="_blank" class="brandico-twitter-bird"><i class="fa fa-twitter"></i>Twitter</a>
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{file.path}}" title="Share on Facebook" target="_blank" class="brandico-facebook-rect"><i class="fa fa-facebook"></i> Facebook</a>
                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url={{file.path}}" title="Share on Google+" target="_blank" class="brandico-googleplus-rect"><i class="fa fa-google-plus"></i> Google+</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


</div>