<form role="form" id="uploadForm" enctype="multipart/form-data">
   
   <input type="file" name="file" onchange="angular.element(this).scope().setMediaFile(this)">
   
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" placeholder="Title" name="title" />
    </div>
    
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" placeholder="Description" name="description" />
    </div>
    
    <button type="submit" class="btn btn-default" ng-click="uploadMediaFile()">Upload</button>
</form>