<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gryffindoge</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/search.css" rel="stylesheet">
    <link href="css/social-sharing.css" rel="stylesheet">
</head>


<body ng-controller="myCtrl">


    <!--NAVBAR-->
    <div>
        <nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="background-color: {{ giveColor() }}">
            <div class="container-fluid">
                <div class="navbar-header">

                    <!-- SEARCH BUTTON --->



                    <!-- TODO: VASEMMALLE-->
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#myNav" ng-click="toggleAllModals()">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="myNav">
                    <ul class="nav navbar-nav">

                        <li><a href="#" id="image-navbar" class="entypo-picture" data-toggle="collapse" data-target="#myNav">Images</a> </li>


                        <li><a href="#" id="video-navbar" class="entypo-video" data-toggle="collapse" data-target="#myNav">Videos</a> </li>


                        <li><a href="#" id="audio-navbar" class="entypo-note-beamed" data-toggle="collapse" data-target="#myNav">Audio</a> </li>


                        <li><a href="#" id="register-navbar" class="entypo-user-add" ng-click="toggleModalReg()" data-toggle="collapse" data-target="#myNav">Register</a> </li>

                        <li><a href="#" id="settings-navbar" class="entypo-tools" ng-click="toggleModalSettings()" data-toggle="collapse" data-target="#myNav">Settings</a></li>

                        <li><a href="#" id="editor-navbar" class="entypo-adjust" ng-click="toggleModalEdit()" data-toggle="collapse" data-target="#myNav">Image Editor</a></li>

                        <li><a href="#" id="upload-navbar" class="entypo-upload" ng-click="toggleModalUpload()" data-toggle="collapse" data-target="#myNav">Upload</a></li>

                        <li ng-hide="{{ logged }}"><a href="#" id="login-navbar" class="entypo-user" ng-click="toggleModalLogin()" data-toggle="collapse" data-target="#myNav">Log in</a> </li>

                        <li ng-show="{{ logged }}"><a href="#" id="account-navbar" class="entypo-box" data-toggle="collapse" data-target="#myNav">My Account</a></li>

                        <li ng-show="{{ logged }}"><a href="#" id="logout-navbar" class="entypo-logout" data-toggle="collapse" data-target="#myNav">Log out</a></li>
                    </ul>

                </div>
        </nav>



        <!-- MODALS -->
        <br>

        <!--- Register modal-->
        <modal title="Register form" id="regModal" ng-show="showModalReg">
            <h4>Register</h4>
            <button ng-click="toggleModalReg()" type="button" class="close" data-dismiss="modal">&times;</button>
            <div ng-controller="RegisterController">
                <register-form></register-form>
            </div>
        </modal>

        <!--- Login modal-->
        <modal title="Login form" id="loginModal" ng-show="showModalLogin">
            <h4>Login</h4>
            <button ng-click="toggleModalLogin()" type="button" class="close" data-dismiss="modal">&times;</button>
            <div ng-controller="LoginController">
                <login-form></login-form>
            </div>
        </modal>

        <!--- Upload modal-->
        <modal title="Upload form" id="uploadModal" ng-show="showModalUpload">
            <h4>Upload</h4>
            <button ng-click="toggleModalUpload()" type="button" class="close" data-dismiss="modal">&times;</button>
            <div ng-controller="UploadController">
                <upload-form></upload-form>
            </div>
        </modal>





        <!--IMAGE EDITOR-->
        <modal id="editModal" ng-show="showModalEdit">
            <h4>Image editor</h4>
            <button ng-click="toggleModalEdit()" type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="container" ng-controller="MainCtrl">
                <!-- Add your site or application content here -->
                <div class="row">
                    <input type="file" onchange="angular.element(this).scope().setImageFile(this)">
                </div>

                <div class="row">
                    <canvas id="myCanvas" style="width: 50%;">
                        <!-- Insert fallback content here -->
                    </canvas>
                </div>
                <hr>
                <div class="row">
                    <h4>Brightness / Contrast</h4>
                    <div class="row">
                        <div class="col-xs-3">
                            Brighness&nbsp;-/+
                        </div>
                        <div class="col-xs-8">
                            <input type="range" ng-change="applyFilters()" step="1" min="-255" max="255" ng-model="brightness">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" size="4" ng-model="brightness" ng-change="applyFilters()">
                        </div>
                    </div>

                    <hr>

                    <div class="row" ng-hide="autocontrast">
                        <div class="col-xs-3">
                            Contrast&nbsp;-/+
                        </div>
                        <div class="col-xs-8">
                            <input type="range" ng-change="applyFilters()" step="0.1" min="0" max="10" ng-model="contrast">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" size="4" ng-model="contrast" ng-change="applyFilters()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            Autocontrast on/off
                        </div>
                        <div class="col-xs-8">
                            <input type="checkbox" ng-model="autocontrast" ng-change="applyFilters()">
                        </div>
                    </div>

                    <hr>

                    <h4>Color filter <span ng-attr-style = "background-color:rgb({{color.red}},{{color.green}},{{color.blue}});border:1px solid #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>

                    <div class="row">
                        <div class="col-xs-1">
                            R
                        </div>
                        <div class="col-xs-10">
                            <input type="range" min="0" max="255" ng-model="color.red">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" size="4" ng-model="color.red">
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xs-1">
                            G
                        </div>
                        <div class="col-xs-10">
                            <input type="range" step="1" min="0" max="255" ng-model="color.green">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" size="4" ng-model="color.green">
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xs-1">
                            B
                        </div>
                        <div class="col-xs-10">
                            <input type="range" step="1" min="0" max="255" ng-model="color.blue">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" size="4" ng-model="color.blue">
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xs-2">
                            Strength
                        </div>
                        <div class="col-xs-9">
                            <input type="range" step="1" min="1" max="100" ng-model="strength" ng-change="applyFilters()">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" size="4" ng-model="strength" ng-change="applyFilters()">
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xs-3">
                            Vignette on/off
                        </div>
                        <div class="col-xs-9">
                            <input type="checkbox" ng-model="vignette" ng-change="applyFilters()">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <form id="uploadForm">


                                <input name="title" type="text" placeholder="Title">
                                <input name="description" type="text" placeholder="Description">

                                <button ng-click="sendImage()" download="edited">Upload</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <hr>


        </modal>

        <!-- Settings modal -->
        <modal title="Settings" id="settingsModal" ng-show="showModalSettings">
            <h4>Settings</h4>
            <button ng-click="toggleModalSettings()" type="button" class="close" data-dismiss="modal">&times;</button>
            <form role="form">
                <div class="form-group">
                    <label for="color">Choose your favorite color to customize the application.</label>
                    <button type="submit" class="btn btn-default" ng-click="toggleColorRed()">Red</button>
                    <button type="submit" class="btn btn-default" ng-click="toggleColorBlue()">Blue</button>
                    <button type="submit" class="btn btn-default" ng-click="toggleColorYellow()">Yellow</button>
                </div>
                <button type="submit" class="btn btn-default" ng-click="toggleModalSettings()">Done</button>
            </form>
        </modal>



        </div>
    </div>
    <!--NAVBAR-->

    <!--MODALS-->
    <!--UPLOAD MEDIA-->

    <!--MODAL-->

    <!---CONTENT-->

    <hr>
    <br>


    <div class="col-md-1" ng-controller="AjaxCtrl">
        <div class="row" id="content">

            <!--IMAGEVIEW-->
            <modal title="Image View" id="imageViewModal" ng-show="showModalImageView" style="overflow-y: scroll; height:85%;">

                <div>
                    <button ng-click="toggleModalImageView()" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>&nbsp; &nbsp; {{title}}</h4>
                    <!--img ng-src="{{path}}" class="img-responsive center-block img-thumbnail" alt="image"-->

                    <img ng-src="{{getMediaUrl(path)}}" class="img-responsive center-block img-thumbnail" alt="image" ng-if="type === 'image'">

                    <audio audioplayer controls ng-src="{{getMediaUrl(path)}}" ng-if="type === 'audio'">
                    </audio>

                    <video videoplayer controls ng-src="{{getMediaUrl(path)}}" ng-if="type === 'video'" width="100%" height="100%">
                    </video>
                </div>

                <div class="row">
                    <!--COMMENT DIV-->
                    <div class="col-md-2 col-lg-2" id="commentdiv" style="overflow-y: scroll; height:300px;">
                        <h4>Comments</h4>

                        <div id="commentBubble" class="panel panel-default" ng-repeat="comment in comments">

                            <!--<div class="panel-body" id="commentbubble">-->
                            <p>&nbsp;<b>{{comment.username}}</b>&nbsp; &nbsp; <i>{{comment.time}}</i></p>
                            <p>&nbsp;{{comment.comment}}</p>
                            <!--</div>-->
                        </div>
                        <hr>
                    </div>
                </div>

                <!--LEAVE A COMMENT-->
                <div class="col-md-3 col-sm-6" id="leavecomment">
                    <!--LEAVEÂ COMMENT-->
                    <form role="form" id="commentForm" enctype="application/x-www-form-urlencoded">
                        <textarea class="form-control" rows="2" id="commentField" placeholder="Write your comment here" ng-model="cmt"></textarea>
                        <button id="commentButton" type="button" class="btn btn-primary btn-sm" ng-click="addComment()">Comment</button>
                        <button class="btn btn-warning" ng-click="toggleModalImageView()">Cancel</button>
                    </form>
                </div>
            </modal>



            <!-- IMAGE FEED -->

            <div ng-repeat="file in files" class="row" id="content">
                <h4><b> &nbsp; &nbsp; {{file.title}}</b></h4>

                <img ng-src="http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.medium }}" class="img-responsive center-block img-thumbnail" alt="image" ng-if="file.type === 'image'">

                <audio audioplayer controls ng-src="{{getMediaUrl(file.path)}}" ng-if="file.type === 'audio'" preload="metadata">
                </audio>

                <video videoplayer controls ng-src="{{getMediaUrl(file.path)}}" ng-if="file.type === 'video'" preload="metadata" width="100%" height="100%">
                </video>

                <p>&nbsp; &nbsp; &nbsp;{{rating}}</p>
                <p>This is images url: {{ file.path }}</p>
                <p>{{file.fileId}}</p>
                <button class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                <button class="btn btn-primary" ng-click="showCommentView(file.path,file.title,file.type,file.fileId)"><span class="glyphicon glyphicon-comment"></span></button>

                <div id="socialmedia" class="pull-right">
                    <!-- twitter -->
                    <a href="{{twitterlink}}" title="Share on Twitter" target="_blank" class="brandico-twitter-bird"><i class="fa fa-twitter"></i>Twitter</a>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{file.path}}" title="Share on Facebook" target="_blank" class="brandico-facebook-rect"><i class="fa fa-facebook"></i> Facebook</a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url={{file.path}}" title="Share on Google+" target="_blank" class="brandico-googleplus-rect"><i class="fa fa-google-plus"></i> Google+</a>
                </div>




                <!--div id="socialmedia" class="pull-right">
                <button class="brandico-twitter-bird"></button>
                <button class="brandico-facebook-rect"></button>
                <button class="brandico-instagram"></buttonli>
                <button class="brandico-googleplus-rect"></button>
                </div-->
                <hr>
            </div>

        </div>
    </div>





    <!--CONTENT-->






    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Include angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>
    <!-- Include My App's JS file(s)-->
    <script src="scripts/app.js"></script>

    <!--services -->
    <script src="scripts/services/ajaxService.js"></script>
    <script src="scripts/services/ajaxService2.js"></script>

    <!--controllers -->
    <script src="scripts/controllers/ajaxController.js"></script>
    <script src="scripts/controllers/registerController.js"></script>
    <script src="scripts/controllers/uploadController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>

    <!--directives -->
    <script src="scripts/directives/registerForm.js"></script>
    <script src="scripts/directives/uploadForm.js"></script>
    <script src="scripts/directives/loginForm.js"></script>



</body>

</html>